body {
	background-color: #666;
	overflow: hidden;
	margin: 0;
}

#canvas {
	z-index: 1;

}

.ui {
	z-index: 2;
	position: absolute;
}

#penSizeSlider {
	right: 40%;
	bottom: 20;
	width: 200px;
}

#penStyles {
  top: 5%;
  left: 5%;   
  background-color: 
}

#penStyles fieldset {
  border-width: 0px;
}

.block {
  display:block;
}
