body {
	background-color: #666;
	overflow: hidden;
	margin: 0;
}

#canvas {
	z-index: 1;

}

.ui {
	z-index: 2;
	position: absolute;
}

#penSizeSlider {
	right: 40%;
	bottom: 20;
	width: 200px;
}

#penStyles {
  top: 5%;
  left: 5%;   
  background-color: #888;
}

#penStyles fieldset {
  border-width: 0px;
}

.block {
  display:block;
}

#clearButton {
    background-color: #595959;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.4s;
}

#clearButton:hover {
    background-color: #3D3D3D;
    color: #663300;
}